@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


body {
    height: 100vh;
    width: 100vw;
    background-color: #131313;
    overflow: hidden;
}


#home-button {
    margin: 35px;
    height: 72px;
    width: 72px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 14px;
}

#home-button>.homeHref {
    
    background-color: black;
}


#page-select-container{
    display: flex;
    justify-content: flex-end;
}

#page-select-box {
    width: 955px;
    height: 150px;
    
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 60px;
    
    display: flex;
    justify-content: flex-end;
    
}

#links {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    transform: translateX(-25px);
    width: 100px;
    height: 100px;
}

#links>.linkHref>.containerImage{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 35px;
    object-position: 100% 50%;
    cursor: pointer;
}

#links>.linkHref>.darkenedImage{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 35px;
    object-position: 100% 50%;
    cursor: pointer;
    
    filter: brightness(50%);
}